{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" type="text/css" href="style-profile.css"> {% endcomment %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous" defer ></script>
    
    {% block title %}{% endblock title %}
    {% block head %}{% endblock head %}
</head>

<body>
    {% block content %}{% endblock content %}
</body>